<h1>Parent Component</h1>

<!-- P2C -->
<!-- <app-user [myName]="name"></app-user> -->

<!-- C2P -->
<!-- <app-user (myFunction)="parentFunction($event)"></app-user> -->

<!-- onChange and getter-setter -->
<!-- Name: <input type="text" (keyup)="0" #name><br><br>
DOB : <input type="text" (keyup)="0" #dob><br>
<app-user [name]="name.value" [dob]="dob.value"></app-user> -->

<!-- Task-2 -->
Name: <input type="text" (keyup)="0" #name><br><br>
DOB : <input type="text" (keyup)="0" #dob><br>
<app-user [name]="name.value" [dob]="dob.value" (myFunction)="parentFunction($event)"></app-user>